@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Welcome to the Dashboard</h2>

    <div class="row">


        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vehicle Information</h5>
                    <p class="card-text">
                        Click on Vehicle Icon to go to Vehicle Details.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Job Card</h5>
                    <p class="card-text">
                        Click on JobCard Icon to go to JobCard Details.

                    </p>
                </div>
            </div>
        </div>

       

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">SparePart Information</h5>
                    <p class="card-text">
                        Click on SparePart Icon to go to SparePart Details.

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
