@model ProductAdapter

<h2>Update Product</h2>


<form method="post" asp-action="UpdateProduct" asp-route-id="@Model.ProductId">
    @*@Html.AntiForgeryToken()*@

    <input type="hidden" name="id" value="@Model.ProductId" />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ProductName">Product Name</label>
            <input asp-for="ProductName" class="form-control">
            <span asp-validation-for="ProductName" class="aler-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ProductQuantity">Product Quantity</label>
            <input asp-for="ProductQuantity" class="form-control">
            <span asp-validation-for="ProductQuantity" class="aler-danger"></span>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Submit</button>

    <a asp-controller="Product" asp-action="GetProducts" class="btn btn-lg btn-warning p-2">Back To List</a>


</form>

