@page
@model UserModelAdapter
@*@{
    ViewData["Title"] = "Logout";
}*@

<h2>Logout</h2>

<form asp-page="./Logout" method="post">
    <p>Are you sure you want to logout?</p>
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
